body{
    background:url("sabina-ciesielska-325335-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}

html{
    height: 100%;
    letter-spacing: 0.2em;
}

#content{
    text-align: center;
    padding-top: 35%;
}
h1{
    font-weight: 700;
    font-size: 5em; 
}

hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.modal-header, h4, .close {
    background-color:whitesmoke;
    color:#2c3e50;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color:gold;
}

#about{
    text-align: center;
    color:goldenrod; 
}

.img-circle{
    width: 300px;
    height:auto;
}

#myBtn2 {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:peachpuff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn2:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#contact{
    text-align: center;
    color:firebrick; 
}
